/*==============================*/
/* GLOBAL SETUP */
/*==============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis',sans-serif;
    font-weight: 300;
}
html {
    scroll-behavior: smooth;
}
/*==============================*/
/* GLOBAL SETUP */
/*==============================*/
section {
    padding: 70px 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 100px;
}
h1 span {
    font-size: 55px;
    font-weight: 700;
}
.btn:link,
.btn:visited,
.btn {
    color: #Fff;
    background: #fd7b7b;
    display: inline-block;
    margin-top: 40px;
    padding: 15px 35px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
/*===============================*/
/* HEADER SECTION */ 
/*===============================*/
header {
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.37)),url('https://images.unsplash.com/photo-1529633417359-6036de4479ef?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 75vh;
    position: relative;
}
nav {
    background: rgba(17, 14, 14, 0.226);
    display: inline-block;
    width: 100%;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    float: left;
    font-size: 35px;
    color: #fff;
    font-family: cursive;
    margin: 15px;
}
.logo span {
    color: #fd7b7b;
    font-family: 'Dosis';
}
.main-nav {
    float: right;
    margin-top: 35px;
}
.main-nav li {
    display: inline-block;
    margin-left: 25px;
}
.main-nav li:first-child {
    margin-left: 0;
}
.main-nav li a {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    color: #fd7b7b;
}
.my-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.little-description {
    font-size: 35px;
    font-weight: 300;
    line-height: 35px;
}
/*===============================*/
/* WORK  SECTION */ 
/*===============================*/
.work-section {
    background: linear-gradient(rgba(103, 107, 107, 0.548), rgba(238, 171, 252, 0.568));
    text-align: center;
}
.work-section span i::before {
    font-size: 50px;
}
.work-section h4 {
    margin: 22px 0 10px;
}
.work-section p {
    font-size: 14px;
}
/*===============================*/
/* PORTFOLIO  SECTION */ 
/*===============================*/
.portfolio-section {
    text-align: center;
}
.portfolio-section p{
    margin-top: 20px;
}
.gallary {
    width: 100%;
    height: 13em;
    margin-bottom: 10px;
}
.portfolio-section button {
    padding: 8px 15px;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 15px;
    background: #fd7b7b;
    color: #fff;
    border-radius: 3px;
}
.portfolio-section .mixitup-control-active{
    background: #000;
    color: #fff;
}
/*===============================*/
/* FOOTER */ 
/*===============================*/
footer {
    background: #0e0f0fdc;
    color: #999;
    padding: 70px 0 0;
    text-align: center;
}
footer h2 {
    color: #fff;
}
footer p {
    margin: 15px 0;
}
.location span{
    color: #fd7b7b;
}
.location span:last-child{
    margin-left: 10px;
}
.social-links li {
    list-style-type: none;
    display: inline-block;
    margin-top: 20px;
}
.social-links li:first-child {
    margin-left: 0;
}
.social-links li a:any-link i::before {
    color: #fff;
}
.social-links li a:link i::before {
    height: 15px;
    width: 15px;
    color:#fff;
    background: #000;
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
}
.social-links li:nth-child(1) a:link i::before {
   background: #d8b105;
}
.social-links li:nth-child(2) a:link i::before {
    background: #3769f1;
 }
 .social-links li:nth-child(3) a:link i::before {
    background: #11d8fc;
 }
 .social-links li:nth-child(4) a:link i::before {
    background: #ec82ec;
 }
 .social-links li:nth-child(5) a:link i::before {
    background: #c4330f;
 }
 .copy {
     margin-top: 50px;
     background: #000;
     padding: 30px 0;
     width: 100%;
     font-size: 12px;
     font-weight: 500;
 }


 /*===============================*/
/*  MEDIA QUARIES */ 
/*===============================*/
@media only screen and (max-width: 1200px) {
    .row {
        margin: 0 20px;
    }
   
}
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    .my-heading p {
        font-size: 28px;
    }
    .gallary {
        width: 100%;
        height: 10em;
    }
}
@media only screen and (max-width: 768px) {
    .main-nav {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    h1 span {
        font-size: 45px;
        font-weight: 600;
    }
    .my-heading p {
        font-size: 22px;
    }
    .span-1-of-4 {
        width: 49.2%;
    }
    .col:nth-child(3) {
        margin-left: 0;
    }
    .gallary {
        width: 100%;
        height: 13em;
    }
}
@media only screen and (max-width: 480px) {
    .span-1-of-4 {
        width: 100%;
    }
    .col:nth-child(2) {
        margin-left: 0;
    }
    .col:nth-child(4) {
        margin-left: 0;
    }
    .gallary {
        width: 90%;
        height: 18em;
    }
}
@media only screen and (max-width: 480px) {
    header  {
        height: 55vh;
    }
    .gallary {
        width: 90%;
        height: 12em;
    }
    .filter-buttons button:nth-child(4){
        margin-top: 0;
    }
    .my-heading p {
        display: none;
    }
    .my-heading .btn-head {
        font-size: 10px;
        padding: 10px 16px;
    }
}